<div class="container mt-5">
  
  <div class="row row-cols-sm-2 row-cols-md-4">

    <div class="col mb-5" *ngFor="let flower of flowers">
      <div class="card rounded-4 mb-2 text-center shadow">
        <div class="p-2 d-flex justify-content-center">
          
          <img 
            [src]="flower.pics" 
            [alt]=""
            class="rounded-4 card-image-top w-100"
            [ngStyle]="{ display: hasLoaded ? '' : 'none' }"
          >

          <img 
            src="assets/icons/loader.svg" 
            alt=""
            height="35"
            width="35"
            *ngIf="!hasLoaded"
          >

        </div>

        <div class="card-body text-center">
          <p class="card-text">
            {{ flower.name }}
          </p>
          <div class="d-flex justify-content-center">
            <p class="card-text">
              {{ '$ ' + flower.prize }}
            </p>
            <p class="type-cash">
              MXN
            </p>
          </div>
          <!-- <p style="font-size: 9px;"> MXN </p> -->
        </div>
  
      </div>
    </div>

  </div>

</div>